<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <article class="contenedor01">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci tempore ipsa repellendus nostrum voluptas
            unde, consequuntur ipsam pariatur deleniti quibusdam delectus distinctio quos esse, dolorum, ea ullam
            voluptate modi non!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptates eos rem harum aperiam. Quis
            exercitationem perferendis minus voluptate. Eius adipisci nobis itaque, eligendi deleniti quos quas autem
            quo sint.</p>
    </article>
    <article class="contenedor02">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus officia enim nisi, maxime quas at ab
            sequi illo blanditiis a, velit alias vel impedit vitae consectetur atque delectus inventore perspiciatis.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo numquam voluptatum soluta sunt pariatur ad
            vitae nulla repellat in architecto rerum id quod, voluptatibus totam consectetur? Quod rem accusamus
            eligendi!</p>
    </article>
</body>

</html>